@{
    ViewBag.Title = "About Connector";
}
<h2>@ViewBag.Title.</h2>

<p>Connector is a demo application built by Adam Woerz for the purposes of displaying his skills learned while creating MVC applications with .NET Framework.</p>
