@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:azreow@gmail.com">azreow@gmail.com</a> <br />
    <abbr title="Phone">P:</abbr>
    812.459.2514
</address>