@{
    ViewBag.Title = "Home Page";
}

<style>
    .custom-img-size {
        display:block;
        max-height: 300px;
    }
</style>
<div class="container text-light my-3">
    <h1>Connector CRM</h1>
    <h3>Focussed On Your Connections.</h3>
</div>

<div class="container d-flex flex-wrap justify-content-evenly my-5">
    <img src="~/Content/images/contacts-img.svg" alt="contact-img" class="custom-img-size"/>
    <br />
    <div class="d-flex flex-column justify-content-center mx-3">
        <h2>Manage Contacts</h2>
        <p>Create, Update, and Explore All Your Contacts Here:</p>
        <div class="d-flex justify-content-start">
            @Html.ActionLink("Contacts", "Index", "Contact", null, htmlAttributes: new { @class = "btn btn-outline-light" })
        </div>
    </div>

</div> 